{% extends "base.html" %}
{% load static %}

{% block custom_styles %}
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <br>
    <div class="row">
    <div class="col-md-12">
        <p>Si deseas comprar, encargar, o preguntar algo, contáctame!</p>

    </div>

        <div class="col-md-7 col-md-offset-2">

        <table class="table table-bordered table-hover">
            <tr>
                <td>Contacto</td>
                <td>Carmen Besa</td>
            </tr>
            <tr>
                <td>e-mail</td>
                <td>carmenbesa@gmail.com</td>
            </tr>
            <tr>
                <td>Teléfono</td>
                <td>(+56) 9 9870 0354</td>
            </tr>
        </table>
        </div>

        <div class="col-md-3">
            <p>Encuentranos en redes sociales</p>
            <ul>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    
    </div>

{% endblock %}